##1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [7]:
test1="""This is a test of the emergency text system"""
fout=open("text.txt","wt")
fout.write(test1)

43

In [8]:
fout.close()

##2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [9]:
with open("text.txt","rt") as infile:
    test2=infile.read()

test1==test2

True

##3. Create a CSV file called books.csv by using these lines:
##title,author,year
##The Weirdstone of Brisingamen,Alan Garner,1960
##Perdido Street Station,China Miéville,2000
##Thud!,Terry Pratchett,2005
##The Spellman Files,Lisa Lutz,2007
##Small Gods,Terry Pratchett,1992

In [10]:
text="""title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutsz,2007
Small Gods,Terry Pratchett,1992
"""

In [6]:
with open("books.csv","wt") as fout:
    fout.write(text)

##4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [23]:
import sqlite3
conn=sqlite3.connect("books2.db")
curs=conn.cursor()
curs.execute("""CREATE TABLE book(title text,author text,year int)""")

In [24]:
conn.commit()

##5. Read books.csv and insert its data into the book table.

In [25]:
import csv
import sqlite3
ins_str ="insert into book values(?,?,?)"
with open("books.csv","rt") as infile:
    books=csv.DictReader(infile)
    for book in books:
        curs.execute(ins_str,(book["title"],book["author"],book["year"]))

In [26]:
conn.commit()

##6. Select and print the title column from the book table in alphabetical order.

In [27]:
sql="select title from book order by title asc"
for row in conn.execute(sql):
     print(row)

('Perdido Street Station',)
('Small Gods',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('Thud!',)

##7. From the book table, select and print all columns in the order of publication.

In [28]:
for row in conn.execute("select * from book order by year"):
     print(row)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutsz', 2007)

##8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [31]:
import sqlalchemy as sa
conn=sa.create_engine("sqlite:///books2.db")
sql="select title from book order by title asc"
rows=conn.execute(sql)
for row in rows:
     print(row)

('Perdido Street Station',)
('Small Gods',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('Thud!',)

##9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [34]:
pip install redis

Requirement already satisfied: redis in c:\users\soudh\anaconda3\lib\site-packages (3.5.3)
Note: you may need to restart the kernel to use updated packages.

##10. Increment the count field of test and print it.